@charset "utf-8";

:root {
  font-size: 16px;
}
.br {
  display:none;
}

h1 {
  display: none;
}

main {
  width: 480px;
  margin: 50px auto;
  padding: 30px 30px 50px;
  box-shadow: 0 0 20px 0px lightgray;
}

input, select {
  margin: 0.5rem 1rem 0.5rem 0 ;
}



input[type='text'] {
  width: 30px;
}

button#submit, button#priority, button#remove, button#release {
  padding: 5px 10px;
  margin-top: 1rem;
  margin-left: 6rem;
  background: royalblue;
  color: white;
  border-color: white;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
}

button#priority {
  background-color: olivedrab;
}

button#remove {
  background-color: firebrick;
}

button#release {
  background-color: grey ;
}

table {
  margin-top: 2rem;
  border: solid 2px lightgray;
  border-collapse: collapse;
}

th, td {
  border: solid 1px lightgray;
  border-collapse: collapse;
  
}


/* td:nth-child(2) {
  color: red;
} */
.color {
  color: red;
}

th {
  background-color: beige;
  padding: 0 0.5rem 0;
} 

th#todoLabel {
  width: 200px;
}

th#dateLabel {
  width: 100px;
}

td {
  text-align: center;
}

td input[type='checkbox'] {
  margin: 0;
}

.color {
  color: red;
}

.small {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding-left: 100px;
  color: rgb(173, 161, 161)
}

.beaver {
  width: 50px;
  display: block;
  margin: 0 auto 10px;
  border-radius: 25px;
}

@media(max-width: 600px) {
  .br {
    display: block
  }
    
  h1 {
    display: block;
    font-size: 10px;
    color: tomato;
  }
  
  th {
    font-size: 10px;
  }

  td {
    font-size: 8px;
  }
  main {
    width:230px;
  }

  th#todoLabel {
    width: 80px;
  }
  
  th#dateLabel {
    width: 20px;
  }
  button#submit, button#priority, button#remove, button#release {
    margin-left: 0;
  }
  button#release {
    display: block;
  }

  button#remove {
    margin-top: 0;
  }
}
